<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  <test name="Test">
  <parameter name="type" value="xml"/>
  <parameter name="fileName" value="reportxml"/>
  <parameter name="platformName" value="Windows" />
  <parameter name="platformVersion" value="10" />
  <parameter name="driver" value="Chrome" />
  <parameter name="browserVersion" value="" />
  <parameter name="deviceId" value="" />
    <classes>
      <class name="tests.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->